body{
    background-color: beige; /*here we create background color for 2 bages*/
}
h
p{
   font-family:'Times New Roman', Times, serif /*for the pragraph we choose time new roman */
}
h1{
    text-align:left;
  
}
